<label>Server Name</label>
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">
<input
type="text"
class="form-control"
[(ngModel)]="serverName"> <!-- two way data binding -->
<hr>
<!--<p>{{serverName}}</p>-->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">
    Add Server
</button>
<hr>
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated">server created, name {{serverName}}</p>
<!-- * means structural directive, changes the structure of the DOM-->

<!--<ng-template #noServer>-->
  <!--<p>No server</p>-->
<!--</ng-template>-->
<!-- #noServer to use with else statement-->
<app-server *ngFor="let server of servers; let i = index"></app-server>
